.App {
  text-align: end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  margin: 10px;
}

.labelClassWeb {
  margin-right: 50px;
}

.labelClassPh {
  margin-right: 59px;
}

.labelClassAdd {
  margin-right: 49px;
}

.classLabelCompany {
  margin-right: 53px;
}

.classLabelWork {
  margin-right: 59px;
}

.classLabelRole {
  margin-right: 63px;
}

.classAvatarPage2 {
  margin-bottom: 30px;
  margin-left: 20px;
}

.classTitleName {
  margin-top: 10px;
}